.Articles-articles {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  max-width: 900px;
}

.Articles-article {
  width: 33.3%;
}

.Articles-article-card {
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.Articles-article-title {
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Articles-article-tags {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
}

.Articles-article-tag {
  font-size: 14px;
  border: 1px solid;
  border-radius: 12px;
  padding: 4px 8px;
}

.Articles-article-tag + .Articles-article-tag {
  margin-left: 10px;
}
