.Article-article {
}

.Article-article-title {
  font-weight: bold;
}

.Article-article-tags {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
}

.Article-article-tag {
  font-size: 14px;
  border: 1px solid;
  border-radius: 12px;
  padding: 4px 8px;
}

.Article-article-tag + .Article-article-tag {
  margin-left: 10px;
}
